@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans_24pt-Light.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans_Bold";
  src: url("/fonts/DMSans_18pt-Bold.ttf");
}

@font-face {
  font-family: "DMSans_Regular";
  src: url("/fonts/DMSans_36pt-Regular.ttf");
}

.raw-html h1,
.raw-html h2,
.raw-html h3,
.raw-html ul,
.raw-html ol,
.raw-html li {
  /* all: revert; */
  list-style: revert;
  padding-left: revert;
  font-size: revert;
  margin-bottom: 12px;
}

.raw-html h1 {
  margin-top: 12px;
  font-size: 1.8rem;
  font-family: "DMSans_Regular";
  font-weight: 900;
}
.raw-html h2 {
  margin-top: 12px;
  letter-spacing: 1.5px;
  font-family: "DMSans_Regular";
  font-size: 1.2rem;
  font-weight: 900;
  width: "100vh";
}
.raw-html h3 {
  margin-top: 12px;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  font-family: "DMSans_Regular";
  font-weight: 900;
}

.raw-html p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "DMSans";
  font-size: 15px;
}

.raw-html strong {
  font-family: "DMSans_Regular";
  letter-spacing: 1px;
  font-weight: bolder;
}

.raw-html ul {
  margin-top: 0px;
}
.raw-html ol {
  margin-top: 0px;
}

.raw-html li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.raw-html pre {
  background-color: #f7f7f7;
  padding: 10px;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.raw-html code {
  font-family: "DMSans_Regular";
}

.raw-html hr {
  margin-top: 30px;
  margin-bottom: 23px;
}

.raw-html blockquote p {
  margin-top: 14px;
  margin-bottom: 14px;
  padding-left: 15px;
  border-left: 2px solid lightgrey;
  font-style: italic;
}
